<section class="about-section">
    <div class="container">
      <h2>About Us</h2>
      <div class="about-content">
        <p>VibeTrade will feature a wide range of products, allowing users to browse, search, and purchase items with ease. We also will implement user authentication</p>
        <p>The first learning objective is to gain hands-on experience in developing a full-stack web application using the MEAN stack (MongoDB, Express.js, Angular, Node.js). 
          The second learning objective is to understand the principles of building an ecommerce platform and implementing key features such as product catalog, user authentication.
          </p>
        <p>Firstly, we have MongoDB, a popular NoSQL database. MongoDB will serve as the backbone of our application, allowing us to store and manage product and user information efficiently. With its flexible document-based structure, MongoDB provides a scalable and robust solution for handling data.
        </p>
      </div>
    
      <div class="our-team">
        <h3>Our Team</h3>
        <div class="team-members">
          <div class="team-member">
            <img src="https://ouch-cdn2.icons8.com/sN9jaJUdf2FBafxuthvmQKExRxYdWCSLlDK-h3Ar6Fw/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMjE1/LzlkMWYyZjFhLWMx/MDctNDM0Ni04MDA2/LTBjZWM3YjliYWVk/MS5zdmc.png" alt="Team Member 1">
            <p>Abdi Abader</p>
          </div>
          <div class="team-member">
            <img src="https://ouch-cdn2.icons8.com/j8YDoUpyrVq-sEGy3lS5D9lPNPtzuIgUpNV7idgPA_Q/rs:fit:256:230/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNDIv/MGJkYzAzYzMtODYy/Ni00YWE4LThkNjMt/MzY3ZDQwNTUxMjRj/LnBuZw.png" alt="Team Member 2">
            <p>Adonyas Getachew</p>
          </div>
          <div class="team-member">
            <img src="https://ouch-cdn2.icons8.com/oDu1w63gg0iMx9xyC8O0ee6igIH2J1l99aslvitr5PY/rs:fit:256:269/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTAz/LzlhODZlNmQ3LTFh/M2UtNDE3YS1iMDZi/LTU2NGM4YWU3Yjhj/Ni5zdmc.png" alt="Team Member 3">
            <p>Serafina Hailu</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  