
<div class="top-header">

    <div class="logo">
        <p>Free Shipping for orders over $50</p>
    </div>
    <div class="link">
        <a routerLink="" routerLinkActive="active">About</a>
        <a routerLink="" routerLinkActive="active">Contact</a>
        <a routerLink="" routerLinkActive="active">Help Center</a>
      

        
    </div>
</div>

    <div class="middle_header">
        <div class="middle_header_1">
        <div class="title">
            <h1>VibeTrade</h1>
        </div>
    <div class="search-box">
        <input type="text" placeholder="Search for products, brands and more">
        <button>Search</button>
    </div>
</div>
   <div class="midde_header_2">
    <div class="link">
        <a routerLink="" routerLinkActive="active">About</a>
        <a routerLink="" routerLinkActive="active">Contact</a>
        <a routerLink="" routerLinkActive="active">Help Center</a>
    </div>
</div>
    </div>
<div class="bottom_header">
    <div class="link">
        <a routerLink="" routerLinkActive="active">About</a>
        <a routerLink="" routerLinkActive="active">Contact</a>
        <a routerLink="" routerLinkActive="active">Help Center</a>
    </div>
</div>