<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Contact Us</h3>
      <p>Addis Ababa, Ethiopia</p>
      <p>Email: abdiabader@gmail.com</p>
      <p>adonyas@gmail.com</p>

      
    </div>
    <div class="footer-section">
      <h3>Payment Methods</h3>
      <div class="payment-methods">
        <img src="assets/png/master.png" alt="MasterCard">

        <img src="assets/png/pay.png" alt="paypal">
        <img src="assets/png/visa.png" alt="Visa">
        <img src="assets/png/tele.png" alt="TeleBirr">
     
        <img src="assets/png/cbe.jpeg" alt="CBE">

       
      </div>
    </div>
    <div class="footer-section">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a href="https://www.github.com" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
  
      <a href="https://www.youtube.com" target="_blank">
        <fa-icon [icon]="faYoutube"></fa-icon>
      </a>
   
      <a href="https://www.facebook.com" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 VibeTrade. Portifolio.</p>
  </div>
</footer>
