<div class="heading">
    <h1>Shop All</h1>
</div>
<div class="shopall">

    <div class="filter">
  <h1>Filter By</h1>
    <hr>

    <div class="category">
   
        <a  (click)="all()">All</a>
        <a (click)="electronics()">Electronics</a>
        <a (click)="furnitures()">Furniture</a>
        <a (click)="Clothe()">Clothes</a>
        <a (click)="shoe()">Shoes</a>
        <a (click)="sale()">Sales</a>

    </div>
    <hr>
    </div>
    <div class="lists">
        
           
           
          
                
                  <div class="products" *ngFor="let product of productlist | slice:first:second" >
                    
                       
                            <img src="{{product.image}}" alt="{{product.name}}" (click)="view(product)">
                              
                          
                      
                  
                </div>
                <label (click)="next()">Next</label>
                <label (click)="prev()">Prev</label>
            
    </div>
   
</div>
