
<main>
    <div class="header">
     <h1>{{name}}</h1>
    </div>
    <div class="container">

   
<mat-tab-group fitInkBarToContent>
    <mat-tab label="My Orders">
        <div class="tabs">
       <h1>My Orders</h1>
         <hr>
        <h3>Current Orders</h3>
        <div class="table_order">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Order Date
    </th>
    <td mat-cell *matCellDef="let element"> {{element.order_date | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Status
    </th>
    <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
      Payment Method
    </th>
    <td mat-cell *matCellDef="let element"> {{element.payment_method}} </td>
  </ng-container>

  <ng-container matColumnDef="see" class="see">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      See Details
    </th>
    <td mat-cell *matCellDef="let element"> <img src="https://img.icons8.com/?size=1x&id=30468&format=png" (click)="view_order(element)">
    
     </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      Action
    </th>
    <td mat-cell *matCellDef="let element"> <img src="https://img.icons8.com/?size=1x&id=32645&format=png" (click)="remove_order(element)"> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
        </div>
        </div>
    </mat-tab>
    <mat-tab label="My Address">
        <div class="tabs">
            <h1><img src="https://img.icons8.com/?size=1x&id=lXT6RzjNrDdt&format=png"> My Address</h1>
            <hr> 
            <div class="address">
            <h3>Current Address: {{address}}</h3>
            <input type="text" [(ngModel)]="address" (ngModelChange)="hasChanges = true" name="addresfs" placeholder="New Address">
            <br>
             <button mat-raised-button color="primary"  [disabled]="!hasChanges" (click)="updateaddress()">Update</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="My Wishlist">
        <div class="tabs">
            <h1><img src="https://img.icons8.com/?size=1x&id=rMdkAyHngv7o&format=png">My Wishlist</h1>
            <hr> 
           <app-wishlist></app-wishlist>
           
        </div>
    </mat-tab>
    <mat-tab label="Profile">
        <div class="tabs">
          
            <h1><img src="https://img.icons8.com/?size=1x&id=91244&format=png">My Account</h1>
            <hr> 
            <div class="myprofile">
            <h3> Your Login email can't be changed<br>
              Email: <span>{{email}}</span><br>
              Current Name: <span>{{name}}</span>
            </h3>
            <form [formGroup]="updateform" *ngIf="updateform">
               <label>Name</label>
                <input type="text" formControlName="name">
             
                <label>Current Password</label>
                <input type="password" formControlName="cp" >
             
              
                <input type="password" formControlName="new_1">
                <input type="password" formControlName="new_2">
                
                
                <label>choose update</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                 >
                  <mat-radio-button class="example-radio-button"  [value]="name">
                    name
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button"  formControlName="password">
                    Password
                  </mat-radio-button>
                </mat-radio-group>
                <br>
               
                <button mat-raised-button color="primary"  (click)="updateuser()">Update</button>
            </form>
        </div>
      </div>
    </mat-tab>
   
  </mat-tab-group>
</div>

</main>
