.admin-dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .admin-dashboard-header__logo {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .admin-dashboard-header__logo img {
    height: 50px;
  }
  
  .cart-animation {
    position: absolute;
    align-self: top;
    top: 70%;
    left: 0;
    width: 1000px;
    height:110px;
    background-image: url('../../../../assets/cart.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: cartSlide 1s ease-in-out;
    animation-fill-mode: both;
  }
  
  @keyframes cartSlide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .admin-dashboard-header__logo h1 {
    font-size: 24px;
    margin-left: 10px;
  }
  
  .admin-dashboard-header__user span {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .admin-dashboard-header__user img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .logout-button {
    background-color: #ff5f5f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #ff3f3f;
  }
  