

<div class="bestprice">
<div class="circle">
    <label>Best Price</label>
    <h1>Incridible Deals</h1>
    <p>Up to 50% off</p>
        
      <button>Shop Now</button>
</div>

</div>
<div class="container1">
  <div class="box1">
    <div class="boxlogo">
      <p>Best Deals</p>
      <h1>Up to</h1>
      <h1>30% off</h1>
        <h4>Selected Smartphone Brands</h4>
        <button>Shop</button>
    </div>
  </div>
  <div class="box2">
   
    
  </div>
</div>
<mat-card class="card">
  <mat-card-content>Simple card</mat-card-content>
</mat-card>

<div class="bestsellers">
  
</div>
