<div class="container" >
  <img src="https://ouch-cdn2.icons8.com/5diTi2vAVo4Za_Ozk_XO0t-vMyE-fQxbqOQ0UeekDIg/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTAx/LzYyNjJhNjFhLTFj/ZDctNDcwZi1hNDM2/LTQ1N2NjZGM2YWU3/YS5zdmc.png">
    <h2>Contact Us</h2>
    <form class="contact_form" [formGroup]="contactusForm" *ngIf="contactusForm">
      <div class="group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" name="name" placeholder="Your Name">
      </div>
      <div class="group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" name="email" placeholder="Your Email">
      </div>
      <div class="group">
        <label for="message">Message</label>
        <textarea name="message" formControlName="message" placeholder="Your Message"></textarea>
      </div>
      <button class="btn"  (click)="contactus()">Send Message</button>
    </form>
    
  </div>
  